<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
 id="WebApp_ID" version="6.0">
  <display-name>AashrayProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetInTouch</display-name>
    <servlet-name>GetInTouch</servlet-name>
    <servlet-class>GetInTouch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInTouch</servlet-name>
    <url-pattern>/GetInTouch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AsAVolunteer</display-name>
    <servlet-name>AsAVolunteer</servlet-name>
    <servlet-class>AsAVolunteer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsAVolunteer</servlet-name>
    <url-pattern>/AsAVolunteer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateRecords</display-name>
    <servlet-name>updateRecords</servlet-name>
    <servlet-class>updateRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateRecords</servlet-name>
    <url-pattern>/updateRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadProof</display-name>
    <servlet-name>DownloadProof</servlet-name>
    <servlet-class>DownloadProof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadProof</servlet-name>
    <url-pattern>/DownloadProof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateVolunteerRecords</display-name>
    <servlet-name>UpdateVolunteerRecords</servlet-name>
    <servlet-class>UpdateVolunteerRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVolunteerRecords</servlet-name>
    <url-pattern>/UpdateVolunteerRecords</url-pattern>
  </servlet-mapping>
</web-app>